.App {
  text-align: center;
  height:800px;
  border-style: 1px solid black;
}

.slider{
  position: relative;
  height: 80px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.image {
  flex-direction: column;
  position: relative;
  width: 150px;
  height: 150px;
  align-items: center;
  border-radius: 10px;
  border: 3px solid #000;

}

.up-arrow {
  display: flex;
  flex-direction: space-around;
  font-size: 2rem;
  color: #000;
  cursor: pointer;
  user-select: none;
  border:3px solid #000;
}

.down-arrow{
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  color: #000;
  cursor: pointer;
  user-select: none;
  border:3px solid #000;
}

.bg{
  background-image: url(./NFL\ Project\ Background.png);
  margin: 0px;
  height: 100vh;
  background-size: cover;
  text-align: center;
  align-items: center;
  position: absolute;
  top: 0px;
  right:0px;
  bottom: 0px;
  left: 0px;

}

.teamsText{
  position: absolute;
  align-items: flex-start;
  justify-content: center;
  top:0%;
}

.centerBox{
  height: 40%;
  max-width: 70%;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, .4);
  box-shadow: 0 15px 20px rgba(0, 0, 0, .2);
  padding: 40px;
  text-align: center;
  letter-spacing: 1px;
  font-size: 20px;
  font-family: 'Roboto Condensed';
  border-style: double;
;}

.teamSelect{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.teamSelectRight{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
